Package: com.ipaapps.VipForYT.VipForYT
Name: VipForYT
Version: 0.3
Description: 
Section: My Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Mohamed Tanbakji
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

